
{% extends "card/base.html" %}
{% block body_block %}


  <!-- Modal content -->

<div id="myModal" class="modal">


  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    
    </div>
    <div class="modal-body">
      <p>Grade Query System Beta Version</p>
      <p>GQS is an online platform to view average grades of Alabel Central Integrated SPED Center students.</p>
      <p>Available Grades for viewing</p>
      <li>Grade 8 - Bergado </li>
    </div>
    <div class="modal-footer">
      <h3>PaulBergs</h3>
    </div>
  </div>

</div>

  
  <!-- Search Form -->


  
</br>
  
  <br>
  <br>
  <br>
      
<div class="container">
    <br/>
  <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm" action="{% url 'search_lrn' %}" method="POST">
                              {% csrf_token %}
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="search" placeholder="Enter your complete LRN">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>

{% endblock %}





