
{% include 'card/base.html' %}


<div class="card-body-fluid">

    <div class="table-responsive">
      <table
      class="table table-striped"
      id="DataTable"
      width="25%"
      cellspacing="1"
      padding-left="50"
      >
      <thead>
        {% for student in Student_query %}
        <tr>
          <th>Name: <p>{{student.Name}}</p></th>
          <th>Year &amp; Section: <p>{{student.Levels}} {{student.Section}}</p> </th>
          <th>School Year: <p>2019-2020</p></th>

        {% endfor %}

        {% for card in grade_query %}
            <th>STATUS: <p>{{card.Status}}</p></th>
        </tr>

      </thead>
    </div>

   

  </div>



<br>
<br>
   

      <table
        class="table table-striped"
        id="dataTable"
        width="25%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Subjects</th>
            <th>Average Grades</th>
          </tr>
        </thread>

        <tbody>
        
          <tr>
            <td>Filipino</td>
            <td>{{card.Filipino}}</td>
          </tr>

          <tr>
            <td>English</td>
            <td>{{card.English}}</td>
          </tr>

          <tr>
            <td>Mathematics</td>
             <td>{{card.Mathematics}}</td>
          </tr>

          <tr>
            <td>Science</td>
              <td>{{card.Science}}</td>
          </tr>

          <tr>
            <td>Araling Panlipunan</td>
            <td>{{card.AP}}</td>
          </tr>

          <tr>
            <td>ESP</td>
            <td>{{card.ESP}}</td>
          </tr>

          <tr>
            <td>TLE</td>
            <td>{{card.TLE}}</td>
          </tr>

          <tr>
            <td>MAPEH</td>
            <td>{{card.MAPEH}}</td>
          </tr>

          <tr>

            <th>Gen.AVERAGE</th>
               <td><b>{{card.GenAvg}}</b></td>
          </tr>

          <thread>

          <tr>
            <th>Subjects</th>
            <th>Average Grades</th>
          </tr>
          </thread>
          </tbody>

</div>

   
          {% endfor %}

         



